::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1 {
  font-weight: 600;
  font-size: 1.5rem;
}

.wrapper {
  position: absolute;
  height: 100vh;
}

#sidebar {
  width: 70px;
  min-width: 70px;
  z-index: 1000;
  transition: all 0.25s ease-in-out;
  background-color: #2b87c8;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#toggle-btn {
  background-color: transparent;
  cursor: pointer;
  border: 0;
  padding: 1rem 1.8rem;
  color: white;
  margin-right: 10px;
}

.d-flex:hover {
  background-color: rgba(255, 255, 255, 0.075);
  border-left: 3px solid #3b7ddd;
}

.sidebar-head {
  margin-top: 15px;
  font-size: 20px;
}

.sidebar-head p {
  color: #fff;
  font-size: 1 rem;
  font-weight: 200;
}

.icon {
  cursor: pointer;
  border: 0;
  color: white;
  font-size: 1.1rem;
  margin-right: 0.75rem;
}

.sidebar-nav {
  padding: 2rem 0;
  flex: 1 1 auto;
}

.menuItems {
  padding: 0.625rem 1.625rem;
  color: #fff;
  display: flex;
  font-size: 0.9rem;
  white-space: nowrap;
  border-left: 3px solid transparent;
}

.menuItems:hover {
  background-color: rgba(255, 255, 255, 0.075);
  border-left: 3px solid #3b7ddd;
}
