table {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.page-title {
  font-size: 40px;
  color: #333;
  margin-bottom: 20px;
}

.med-tracker {
  width: 90%;
  margin: auto;
}

table tr th,
table tr td {
  font-size: 16px;
  padding: 14px !important;
  text-align: left;
}

table th {
  background-color: #007bff;
  color: #fff;
}

table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tbody tr:hover {
  background-color: #d9edf7;
  cursor: pointer;
}

.action{
  background-color: red;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.action:hover{
  background-color: rgb(187, 40, 40);
}

.newAppoint{
  background-color: rgb(9, 214, 88);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.newAppoint:hover{
  background-color: rgb(11, 112, 50);
}

.submitButton {
  background-color: #2b87c8;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 90px;
}


.submitButton:hover {
  background-color: #2f6e9b;
}

.heading1{
  padding: 10px;
  font-size: 30px;
  text-align: center;
  color: #2b87c8;
}
input[name="record_id"],
input[name="patient_id"],
input[name="provider_id"],
input[name="date"],
input[name="treatment"],
input[name="diagnosis"]


 {
    border: 1px solid #2b87c8; 
    border-radius: 5px;
    font-family: inherit;
    width: 100%;
    line-height: normal;
    appearance: none;
    height: 25px;
    font-size: 15px;   
}

.formGroup{
  color: #2b87c8;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 15px;
}